<html>
  <head>
    <title>James Brown gives you dance lessons</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet">
  </head>
  <body>
    <div id="container">
    <div id="dancing">
    <h1>James Brown gives you dance lessons</h1>
    <form method="post" action="{{ url_for('api_root') }}">
    <input type="submit" name="dance" value="Boogaloo">
    </form>
    </div>
      <br/ >
      <img src="{{dance}}">
    </div>
</body>
</html>
