{% extends "layout.html" %}
{% block content %}
    <div id="container">
    <div id="dancing">
    <h1>James Brown gives you dance lessons</h1>
    <form method="post" action="{{ url_for('dance') }}">
    <input type="submit" name="dance_style" value="Boogaloo">
    </form>
    <form method="post" action="{{ url_for('dance') }}">
    <input type="submit" name="dance_style" value="CamelWalk">
    </form>
    <form method="post" action="{{ url_for('dance') }}">
    <input type="submit" name="dance_style" value="FunkyChicken">
    </form>
    <form method="post" action="{{ url_for('dance') }}">
    <input type="submit" name="dance_style" value="MashedPotatoes">
    </form>
    <form method="post" action="{{ url_for('dance') }}">
    <input type="submit" name="dance_style" value="Robot">
    </form>
    </div>
      <br/ >
      <img src="{{image}}">
    </div>

{% endblock %}

